@charset "utf-8";
@import url(common.css);
/* login css파일 */

/* test */
/* body * {outline: 1px solid pink;} */

/* --------------콘텐츠(login)-------------- */
.login {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}