@charset "utf-8";
/* typo css파일 */

/* test */
/* body * {outline: 1px solid pink;} */

/* typo */
body {
    font: 14px/1.6 "굴림", sans-serif;
    color: #333333;
    background: #ffffff;
}

a {
    text-decoration: none;
    color: #333333;
}