@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* font-family: 'Lato', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

/* 초기화 */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: #777;
    text-decoration: none;
}
img {
    width: 100%;
    vertical-align: top;
}

button {
    font-size: 1.5rem;
    color: #000;
    /* 커서 손가락모양으로 변경 */
    cursor: pointer;
    border: none;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}


/* 타이포 */
/* rem은 html기준으로 변경됨, 계산하기쉽게 html 기본폰트는 10px로설정 */
html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'Lato', 'Noto Sans KR', sans-serif;
    color: #777;
}

h1 {
    font-size: 2.4rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h2 {
    font-size: 3.6rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
    text-align: center;
}

h4 {
    font-size: 1.8rem;
    text-align: center;
}

button {
    font-size: 1.5rem;
    color: #fff
}

button:hover {
    color: #000
}

/* span {
    letter-spacing: 10px;
} */

.pf3 span {
    font-size: 2.4rem;
}

address {
    font-size: 1.8rem;
}

/* 아이콘 */
nav li:first-of-type ~ li a::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    padding-right: 5px;
    background-repeat: no-repeat;
}
nav li:nth-of-type(2) a::before {background-image: url(../images/icon_nav2.svg);}
nav li:nth-of-type(3) a::before {background-image: url(../images/icon_nav3.svg);}
nav li:nth-of-type(4) a::before {background-image: url(../images/icon_nav4.svg);}
form button img {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
form button img span {vertical-align: middle;}

body * {outline: 1px solid lime;}

/* 헤더 */
header {
    height:45px; 
}
nav li {
    float: left;
}
nav li a {
    padding: 20px 20px;
    line-height: 45px;
}
nav li a:hover {
    background: #ccc;
    color: #000;
}

.tac {
    text-align: center;
}

/* 섹션2,3,4의 공통 */
.container {
    width: 940px;
    margin: 0 auto;
}

/* 패럴렉스 이미지 */
#sec1 {
    position: relative;
    height: 1045px;
    background: url(../images/parallax1.jpg) no-repeat 50% 50%/cover fixed;
}

#sec3 .para {
    height: 405px;
    background: url(../images/parallax2.jpg) no-repeat 50% 50%/cover fixed;
}

#sec4 .para {
    height: 405px;
    background: url(../images/parallax3.jpg) no-repeat 50% 50%/cover fixed;
}

/* 섹션1 */
.logo {
    position: absolute;
    /* width: 416px;
    line-height: 54px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    line-height: 1;
    /* margin-left: -208px;
    margin-top: -27px; */
    background: #404040;
}

/* 섹션2 - 프로필2: 내사진과 프로필 텍스트 */
.pf2 div {
    float: left;
    width: 440px;
}
.pf2 > p {
    float: right;
    width: 440px;
}

/* 섹션2 - 스킬 */
.skill div {
    height: 35px;
    background: #f1f1f1;
}
.skill span {
    height: 100%;
    display: block;
    background: #616161;
    color: #fff;
    text-align: center;
}
.skill li:nth-of-type(1) span {
    width: 90%;
}
.skill li:nth-of-type(2) span {
    width: 85%;
}
.skill li:nth-of-type(3) span {
    width: 75%;
}

/* 섹션3 - 타이틀 portfolio */
#sec3 .para h2 {
    line-height: 405px;
}

/* 섹션3 - 프로필3 */
.pf3 li {
    float: left;
    width: 25%;
    height: 135px;
    text-align: center;
    background: #616161;
    color: #fff;
    padding: 36px;
}
.pf3 span {
    display: block;
}
/* 섹션3 */
.myWork {text-align: center;}
.myWork li {
    width: 220px;
    height: 160px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.myWork li:nth-of-type(4n) {margin-right: 0;}
.myWork a {
    display: inline-block;
    width: 138px;
    line-height: 45px;
    background: #f1f1f1;
    color: #000;
}
.myWork a:hover {background: #ccc;}



/* 섹션4 - 타이틀 contact */
#sec4 .para h2 {
    line-height: 405px;
}

/* 섹션4 */
.map {
    float: left;
    width: 285px;
}
.info {
    float: right;
    width: 630px;
}
form {text-align: right;}

form input {
    width: 292px;
    height: 45px;
    padding: 16px;
}
form input:nth-of-type(1) {margin-right: 13px;}

form input:nth-of-type(3) {
    width: 600px;
    margin-top: 13px ;
}
input::placeholder {
    color: #ccc;
}
form button {
    width: 160px;
    height: 45px;
    background: #000;
}
form button:hover {background: #ccc;}

/* 푸터 */
footer {
    height: 288px;
    background: #616161;
    text-align: center;
    color: #fff;
}
footer:hover {background: #000;}

footer .toTheTop {
    display: inline-block;
    width:130px;
    line-height: 45px;
    background: #fff;
    color: #616161;
}
.toTheTop:hover {
    background: #ccc;
    color: #000;
}

.toTheTop i {
    margin-right: 5px;
}