@charset "utf-8";
/* 이자리에 폰트정해서 넣기 */
@import url('reset.css');

/* Typo */
@font-face {
    font-family: segoeui;
    src: url(../font/segoeui.ttf)
}

@font-face {
    font-family: verdana;
    src: url(../font/verdana.ttf)
}

@font-face {
    font-family: segoeuii;
    src: url(../font/segoeuii.ttf)
}

@font-face {
    font-family: verdanai;
    src: url(../font/verdanai.ttf)
}

html {font-size: 10px;}

body {
    font: 1.5rem/1.5 verdana, sans-serif;
    color: #000;
}
/* 헤더 */
/* 섹션1 */
/* 섹션2 */
/* 섹션3 */
/* 섹션4 */
/* 푸터 */

