@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('reset.css');

/* font-family: 'Lato', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

/* 초기화 */
a {
    color: #777;
}

button {
    font-size: 1.5rem;
    color: #000;
}

/* 타이포 */
html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'Lato', 'Noto Sans KR', sans-serif;
    color: #595959;
}

h1 {
    font-size: 2.4rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h2 {
    font-size: 3.6rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
    text-align: center;
    color: #D92D07;
}

h4 {
    font-size: 1.8rem;
    text-align: center;
}

button {
    font-size: 1.5rem;
    color: #fff
}

button:hover {
    color: #000
}

.skill p {
    letter-spacing: 10px;
}

.pf3 span {
    font-size: 2.4rem;
}

.sns a {
    font-size: 24px;
    color: #fff;
    margin: 3px;
}

.sns a:hover {
    color: #777;
}


address {
    font-size: 1.8rem;
}





/* 아이콘 */
nav li:first-of-type~li a::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    padding-right: 5px;
    background-repeat: no-repeat;
}

nav li:nth-of-type(2) a::before {
    background-image: url(../images/icon_nav2.svg);
}

nav li:nth-of-type(3) a::before {
    background-image: url(../images/icon_nav3.svg);
}

nav li:nth-of-type(4) a::before {
    background-image: url(../images/icon_nav4.svg);
}

form button img {
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

form button img span {
    vertical-align: middle;
}

/* 헤더 */
header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 45px;
    background: #fff;
}

nav li {
    float: left;
}

nav li a {
    padding: 10px 20px;
    line-height: 45px;
}

nav li a:hover {
    background: #ccc;
    color: #000;
}

.tac {
    text-align: center;
}

/* 섹션2,3,4의 공통 */
.container {
    width: 940px;
    margin: 0 auto;
    padding: 90px 0;
}

em {
    display: block;
    margin-bottom: 54px;
}

/* 패럴렉스 이미지 */
#home {
    position: relative;
    height: 1045px;
    background: url(../images/parallax_1.jpg) no-repeat 50% 50%/cover fixed;
}

#portflio .para {
    height: 405px;
    background: url(../images/parallax_2.jpg) no-repeat 50% 50%/cover fixed;
}

#contact .para {
    height: 405px;
    background: url(../images/parallax_3.jpg) no-repeat 50% 50%/cover fixed;
}

/* 섹션1 */
.logo {
    position: absolute;
    /* width: 416px;
    line-height: 54px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    line-height: 1;
    /* margin-left: -208px;
    margin-top: -27px; */
    background: #404040;
}

/* 섹션2 - 프로필2: 내사진과 프로필 텍스트 */
.pf2 {
    margin-top: 70px;
}

.pf2 div {
    float: left;
    width: 440px;
}

.pf2 div p {
    margin-bottom: 20px
}

.pf2>p {
    float: right;
    width: 440px;
}



/* 섹션2 - 스킬바 */
.skill h4 {
    margin: 60px 0 40px;
}

.skill div {
    height: 35px;
    background: #f1f1f1;
}

.skill span {
    height: 100%;
    display: block;
    background: #e98069;
    color: #fff;
    text-align: center;
}

.skill li:nth-of-type(1) span {
    width: 90%;
}

.skill li:nth-of-type(2) span {
    width: 85%;
}

.skill li:nth-of-type(3) span {
    width: 75%;
}

.skill i {
    margin: 20px 10px 20px 0;
}

/* 섹션3 - 타이틀 portfolio */
#portflio .para h2 {
    line-height: 405px;
}

/* 섹션3 - 프로필3 */
.pf3 li {
    float: left;
    width: 25%;
    height: 135px;
    text-align: center;
    background: #1b622f;
    color: #fff;
    padding: 36px;
}

.pf3 span {
    display: block;
}

/* 섹션3 */
.myWork {
    text-align: center;
}

/* 섹션3 이미지 */
.myWork li {
    width: 220px;
    height: 160px;
    line-height: 160px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #f1f1f1;
}

.myWork li:nth-of-type(4n) {
    margin-right: 0;
}

.myWork li img {
    height: 158px;
}



/* 더보기 버튼 */
.myWork>a {
    display: inline-block;
    width: 138px;
    line-height: 45px;
    background: #f1f1f1;
    color: #000;
    margin-top: 50px;
}

.myWork>a:hover {
    background: #ccc;
}



/* 섹션4 - 타이틀 contact */
#contact .para h2 {
    line-height: 405px;
}

/* 섹션4 */
.map {
    float: left;
    width: 285px;
}

address i {
    margin-right: 25px;
}

.info {
    float: right;
    width: 620px;
}

.info p {
    margin: 30px 0 40px 0;
}

form {
    text-align: right;
}

form input {
    width: 292px;
    height: 45px;
    padding: 16px;
}

form input:nth-of-type(1) {
    margin-right: 13px;
}

form input:nth-of-type(3) {
    width: 600px;
    margin-top: 13px;
}

input::placeholder {
    color: #ccc;
}

form button {
    width: 160px;
    height: 45px;
    background: #000;
    margin-top: 20px;
}

form button:hover {
    background: #ccc;
}

/* 푸터 */
footer {
    height: 288px;
    background: #616161;
    text-align: center;
    color: #fff;
    padding: 70px;
}

footer:hover {
    background: #000;
}

footer .toTheTop {
    display: inline-block;
    width: 130px;
    line-height: 45px;
    background: #fff;
    color: #616161;
}

.toTheTop:hover {
    background: #ccc;
    color: #000;
}

.toTheTop i {
    margin-right: 5px;
}

.sns {
    margin: 15px 0;
}